{% extends "src/layouts/default.html" %}

{% block content %}
<!-- section::about -->
<section class="page-section page-section-about">
  <div class="container py-4 px-4 mx-auto md:w-50 mb-4">
    <div class="page-section-header mb-4 text-custom-1">
      <span>01.</span>
      <span>About Me</span>
    </div>
    <div class="row">
      <div class="col col-md px-4 mb-4">
        <p>          
          Hello, my name is <span class="text-primary">Alfian Dwi Nugraha</span>! I have a passion in
          the internet world since I was 10 years old. I was browsing blogs
          and then trying to make some desktop applications, then again
          met this web-based programming.
        </p>
        <ul>
          <li>🔭 I’m currently working on Freelance as <span class="text-primary">Web Dev Programmer</span></li>
          <li>🌱 I’m currently learning Golang and Python</li>
          <li>🎓 I’m currently studying at the <span class="text-primary">Surabaya State University</span></li>
        </ul>
      </div>
      <div class="col-12 col-md-4 px-4">
        <div class="position-relative mypic-wrapper">
          <img src="/mypic.jpg" alt="My Avatar" class="d-block img-fluid rounded mypic">
        </div>
      </div>
      <!-- <img src="https://avatars.githubusercontent.com/u/41994283?s=400&u=0e8f0bce9bc6b0edd4c43c329c8f04945d55baaa&v=4" alt="My Avatar" height="256px"> -->
    </div>
  </div>
  <div class="container py-4 px-4 mx-auto md:w-50 my-4">
    <div class="row">
      <div class="col-12 col-md">
        <div class="page-section-header mb-4">
          <span>My Avatar</span>
        </div>
        <div>
          <p>
            The <span class="text-purple">avatars</span> that I use on almost a lot of social media, are taken from some anime characters that I like.
            In the form of <span class="text-primary">Shiroe</span> (Log Horizon), <span class="text-primary">Killua</span> (Hunter x Hunter), 
            and <span class="text-primary">Kirito</span> (Sword Art online).
          </p>
        </div>
      </div>
      <div class="col-12 col-md-4 col-md page-section-about-canvas-wrapper h-50">
        <canvas id="page-section-about-canvas"></canvas>
      </div>
    </div>
  </div>
</section>
{% endblock %}