{% extends "src/layouts/default.html" %}

{% block content %}
<!-- section::contact -->
<section class="page-section page-section-contact pt-4 position-relative overflow-hidden d-flex flex-column">
    <div class="container py-4 px-4 mx-auto d-flex flex-column justify-content-center flex-1 text-center">
        <div class="text-custom-1 text-primary fw-light">04. Contact Me?</div>
        <div class="display-4 fw-bolder mb-4">
          <div class="text-custom-2">Get In Touch</div>
        </div>
        <div class="d-flex justify-content-center align-items-center mb-4">
            <div class="w-50 text-custom-1">
                Even though I'm not currently looking for new opportunities, my inbox is always open.
                Whether you have any questions or just want to say hello, I'll try my best to get back to you!
            </div>
        </div>
        <div class="d-flex space-x-4 justify-content-center">
            <a target="_blank" href="mailto:viandwicyber@gmail.com" class="btn btn-outline-primary">
              <i class="bi-github"></i>
              <span>Email</span>
            </a>
            <a target="_blank" href="https://facebook.com/viandwi24" class="btn btn-outline-success">
              <i class="bi-github"></i>
              <span>Facebook</span>
            </a>
            <a target="_blank" href="https://instagram.com/viandwi_24" class="btn btn-outline-secondary">
              <i class="bi-github"></i>
              <span>Instagram</span>
            </a>
        </div>
    </div>
    <div class="text-center">
        <div class="fs-6 fst-italic text-muted">
            Design by
            <a href="https://github.com/viandwi24">@viandwi24</a>
        </div>
    </div>
</section>
{% endblock %}