{% extends "src/layouts/default.html" %}

{% block content %}
<!-- section::home -->
<section class="page-section page-section-home pt-4 position-relative overflow-hidden d-flex">
  <div class="page-section-home-canvas-wrapper">
    <canvas id="page-section-home-canvas"></canvas>
  </div>
  <div class="container py-4 px-4 mx-auto d-flex flex-column justify-content-center flex-1">
    <div class="wrapper-with-tag">
      <div class="container-with-tag" style="--tag: 'h1';">
        <div class="mb-4">
          <div class="text-primary font-mono">Hi, my name is</div>
        </div>
        <div class="display-4 fw-bolder mb-4">
          <div class="text-custom-1">Alfian Dwi Nugraha.</div>
          <div class="text-custom-2">A website engraver for artists.</div>
        </div>
        <div class="text-sm fw-light mb-4 w-50">
          I am a web developer, who can handle web design, server side web, web games, and some desktop
          programming. now focusing on the web front end.
        </div>
        <div class="mb-4 d-flex flex-col md:flex-row space-y-4 md:space-x-4 md:space-y-0 font-mono">
          <a href="/html/about.html" class="btn btn-primary">
            <i class="bi-play-fill"></i>
            <span>Lets Close About Me</span>
          </a>
          <a href="https://github.com/viandwi24" class="btn btn-dark">
            <i class="bi-github"></i>
            <span>Github</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}