{% extends "src/layouts/default.html" %}

{% block content %}
<!-- section::experience -->
<section class="page-section page-section-experience">
  <div class="container py-4 px-4 mx-auto md:w-50 mb-4">
    <div class="page-section-header mb-4 text-custom-1">
      <span>03.</span>
      <span>My Projects</span>
    </div>
    <div>
        <!-- project::1 -->
        <div class="position-relative d-block mb-4 pb-4">
            <div class="col-6 position-absolute right-0" style="top: 50%; transform: translateY(-50%);">
                <img src="/projects/1.png" alt="Preview" class="img-fluid img-muted-hover-active">
            </div>
            <div class="p-4">
                <div class="text-primary font-mono fw-lighter mb-1">Template</div>
                <div class="fw-bolder fs-4 mb-2">Nuxt 3 Awesome Starter</div>
                <div class="card shadow-lg bg-dark mb-2 md:w-60">
                    <div class="p-4">
                        a Nuxt 3 starter template or boilerplate with a lot of useful features. and integrated with TailwindCSS 3
                    </div>
                </div>
                <div class="d-flex space-x-4 fw-lighter text-custom-1 mb-2 font-mono">
                    <span>Nuxt</span>
                    <span>Vue</span>
                    <div>TailwindCSS</div>
                </div>
                <div class="d-flex space-x-4">
                    <a class="icon-link" target="_blank" href="https://github.com/viandwi24/nuxt3-awesome-starter">
                        <i class="bi-github" role="img" aria-label="GitHub"></i>
                    </a>
                    <a class="icon-link" target="_blank" href="https://nuxt3-awesome-starter.vercel.app/">
                        <i class="bi bi-box-arrow-up-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- project::2 -->
        <div class="position-relative d-block mb-4 pb-4">
            <div class="col-6 position-absolute left-0" style="top: 50%; transform: translateY(-50%);">
                <img src="/projects/2.gif" alt="Preview" class="img-fluid img-muted-hover-active">
            </div>
            <div class="p-4 w-100 text-end d-flex flex-column justify-content-end align-items-end">
                <div class="text-primary font-mono fw-lighter mb-1">Simulator</div>
                <div class="fw-bolder fs-4 mb-2">Blockchain Simulator</div>
                <div class="card shadow-lg bg-dark mb-2 md:w-60">
                    <div class="p-4">
                        A Simple Blockchain Simulation with Javascript Nodejs and VueJs as Front End
                    </div>
                </div>
                <div class="d-flex space-x-4 fw-lighter text-custom-1 mb-2 font-mono">
                    <span>Blockchain</span>
                    <span>Simulation</span>
                    <span>Nuxt</span>
                    <span>Vue</span>
                    <div>TailwindCSS</div>
                </div>
                <div class="d-flex space-x-4">
                    <a class="icon-link" target="_blank" href="https://github.com/viandwi24/blockchain-simulation">
                        <i class="bi-github" role="img" aria-label="GitHub"></i>
                    </a>
                    <a class="icon-link" target="_blank" href="https://viandwi24.github.io/blockchain-simulation/">
                        <i class="bi bi-box-arrow-up-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- project::3 -->
        <div class="position-relative d-block mb-4 pb-4">
            <div class="col-6 position-absolute right-0" style="top: 50%; transform: translateY(-50%);">
                <img src="/projects/3.gif" alt="Preview" class="img-fluid img-muted-hover-active">
            </div>
            <div class="p-4">
                <div class="text-primary font-mono fw-lighter mb-1">Forum</div>
                <div class="fw-bolder fs-4 mb-2">Devover Forum</div>
                <div class="card shadow-lg bg-dark mb-2 md:w-60">
                    <div class="p-4">
                        a Opensource Forum Web with Tailwinds and Laravel
                    </div>
                </div>
                <div class="d-flex space-x-4 fw-lighter text-custom-1 mb-2 font-mono">
                    <span>Laravel</span>
                    <span>Vue</span>
                    <div>TailwindCSS</div>
                </div>
                <div class="d-flex space-x-4">
                    <a class="icon-link" target="_blank" href="https://github.com/devoverid/forum">
                        <i class="bi-github" role="img" aria-label="GitHub"></i>
                    </a>
                    <a class="icon-link" target="_blank" href="https://github.com/devoverid/forum">
                        <i class="bi bi-box-arrow-up-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- project::4 -->
        <div class="position-relative d-block mb-4 pb-4">
            <div class="col-6 position-absolute left-0" style="top: 50%; transform: translateY(-50%);">
                <img src="/projects/4.png" alt="Preview" class="img-fluid img-muted-hover-active">
            </div>
            <div class="p-4 w-100 text-end d-flex flex-column justify-content-end align-items-end">
                <div class="text-primary font-mono fw-lighter mb-1">Game</div>
                <div class="fw-bolder fs-4 mb-2">Klasse IO</div>
                <div class="card shadow-lg bg-dark mb-2 md:w-60">
                    <div class="p-4">
                        A group video call with a mix of rpg games. Make the group atmosphere more interactive.
                        WebRTC based Video Stream with Peer connection. Then Signaling by WebSocket.
                        With Client Built on NuxtJS as well as NodeJS server.
                    </div>
                </div>
                <div class="d-flex space-x-4 fw-lighter text-custom-1 mb-2 font-mono">
                    <span>Nuxt</span>
                    <span>Vue</span>
                    <div>WebRTC</div>
                    <div>Game</div>
                </div>
                <div class="d-flex space-x-4">
                    <a class="icon-link" target="_blank" href="https://github.com/viandwi24/klasse-io-client">
                        <i class="bi-github" role="img" aria-label="GitHub"></i>
                    </a>
                    <a class="icon-link" target="_blank" href="https://github.com/viandwi24/klasse-io-client">
                        <i class="bi bi-box-arrow-up-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
{% endblock %}