@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --color-primary: #31C6D4;
  --color-background: #081426;
  --color-custom-1: #BCCEF8;
  --color-custom-2: #F8EDE3;
}

body {
  // background: var(--color-background);
  color: white;
  font-family: 'Poppins', sans-serif;

  
  background: linear-gradient(224deg, #081426, #163058);
  background-size: 400% 400%;

  -webkit-animation: BackgroundGradientAnim 30s ease infinite;
  -moz-animation: BackgroundGradientAnim 30s ease infinite;
  animation: BackgroundGradientAnim 30s ease infinite;
}

@-webkit-keyframes BackgroundGradientAnim {
  0%{background-position:90% 0%}
  50%{background-position:11% 100%}
  100%{background-position:90% 0%}
}
@-moz-keyframes BackgroundGradientAnim {
  0%{background-position:90% 0%}
  50%{background-position:11% 100%}
  100%{background-position:90% 0%}
}
@keyframes BackgroundGradientAnim {
  0%{background-position:90% 0%}
  50%{background-position:11% 100%}
  100%{background-position:90% 0%}
}

// fonts
.font-mono {
  font-family: 'Fira Mono', monospace;
}
.font-sans {
  font-family: 'Poppins', sans-serif;
}

// flex
.flex-1 {
  flex: 1 1 0%;
}
.space-y-4 > * + * {
  margin-top: 1rem;
}
.space-x-4 > * + * {
  margin-left: 1rem;
}
.space-y-2 > * + * {
  margin-top: 0.5rem;
}
.flex-col {
  flex-direction: column;
}
@include media-breakpoint-up(md) {
  .md\:space-x-4 > * + * {
    margin-left: 1rem;
  }
  .md\:space-y-0 > * + * {
    margin-top: 0rem;
  }
  .md\:flex-col {
    flex-direction: column;
  }
  .md\:flex-row {
    flex-direction: row;
  }
}

// positions
.right-0 {
  right: 0;
}

// color
.text-primary {
  color: var(--color-primary);
}
.text-custom-1 {
  color: var(--color-custom-1);
}
.text-custom-2 {
  color: var(--color-custom-2);
}

// widts
@include media-breakpoint-up(md) {
  .md\:w-40 {
    width: 40%;
  }
  .md\:w-50 {
    width: 50%;
  }
  .md\:w-60 {
    width: 60%;
  }
  .md\:w-100 {
    width: 100%;
  }
}

// custom navbar
.navbar {
  transition: all 0.3s ease-in-out;
  .navbar-brand {
    margin-left: 14px;
    margin-top: 14px;
    margin-bottom: 14px;
    & > * {
      fill: var(--color-primary);
      color: var(--color-primary);
    }
  }
  .navbar-nav > li {
    margin: 0 10px 0 10px;
    .dropdown-item {
      font-size: 14px;
      font-weight: 700;

      & > span:nth-child(1) {
        color: var(--color-primary);
      }
    }
  }
  &.scrolled {
    background: rgba(8, 20, 38, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  &.collapsed {
    background: rgba(8, 20, 38, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .navbar-toggler-icon {
    color: white !important;
    background: red;
  }
}

// custom tabs
.tab-custom-header {
  button {
    transition: all 0.4s ease-in-out;
    background: none !important;
    border: none !important;
    color: $text-muted;
    padding-right: 2rem !important;
    padding-left: 1.8rem !important;
    text-align: left !important;
    border-left: 3px solid $text-muted !important;
    border-radius: 0 !important;
    font-size: 14px;

    &.active {
      color: $primary !important;
      border-left: 3px solid $primary !important;
    }
  }
}
.tab-custom-content {
  display: block !important;
  padding-bottom: 1rem !important;

  .tab-custom-pane-title {
    font-weight: 800;
    font-size: 16px;
    color: var(--color-custom-1);

    .mention {
      color: $primary !important;
    }
  }

  .tab-custom-pane-description {
    font-size: 14px;
    color: $text-muted;
    font-weight: 500;
  }
}

// custom list with ⭒
ul.list-custom {
  list-style: none;
  padding-left: 0;
  li {
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: 0.5rem;
    &:before {
      content: '⤀';
      position: absolute;
      left: 0;
      color: $primary;
    }
  }
}


//section
.page-section {
  padding-top: 82px !important;
  min-height: 100vh;
}
.page-section-home {
  padding-top: 60px !important;
  padding-bottom: 120px;
}
.page-section-header {
  font-size: 24px;
  font-weight: 800;
  position: relative;
  display: flex;
  align-items: flex-end;

  & > span:nth-child(1) {
    color: var(--color-primary);
    font-size: 16px;
    margin-right: 8px;
    margin-bottom: 4px;
  }

  // create horizontal line
  &::after {
    opacity: 0.3;
    align-self: center;
    flex: 1 1 0%;
    content: '';
    display: block;
    top: 0;
    margin-top: 4px;
    margin-left: 16px;
    margin-right: 16px;
    width: 100%;
    height: 2px;
    background: var(--color-primary);
  }

  // &.page-section-header-right {
  //   flex-direction: column-reverse;
  //   align-items: flex-start;

  //   &::after {
  //     margin-right: 16px;
  //     margin-left: 16px;
  //   }
  // }
}


// loader 
.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1040;
  background: #081426;

  &.hide {
    display: none;
  }

  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }  
}


// custm card
.wrapper-with-tag {
  position: relative;
  .container-with-tag {
    padding-left: 3rem;
    &::before {
      content: '<' var(--tag) '>';
      // content: "<h1>";
      display: block;
      padding-bottom: 8px;
      margin-left: -2.6rem;
      font-family: 'Fira Mono', monospace;
      font-size: 10px;
      color: $gray-500;
    }
    &::after {
      content: '</' var(--tag) '>';
      // content: "</h1>";
      display: block;
      padding-top: 16px;
      margin-left: -2.6rem;
      font-family: 'Fira Mono', monospace;
      font-size: 10px;
      color: $gray-500;
    }
  }
  &::after {
    content: '';
    opacity: 0.3;
    width: 0;
    height: 90%;
    top: 5%;
    left: 18px;
    position: absolute;
    border: 0.1px solid white;
    border-top-color: white;
    border-top-style: solid;
    border-top-width: 0.1px;
    border-right-color: white;
    border-right-style: solid;
    border-right-width: 0.1px;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 0.1px;
    border-left-color: white;
    border-left-style: solid;
    border-left-width: 0.1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
  }
}

// custom bar
.social-media-bar {
  display: none;
  a.icon {
    color: $text-muted;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: var(--color-primary);
      transform: scale(1.2) translateY(-6px);
    }
  }

  a.text-vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: $text-muted;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    &:hover {
      color: var(--color-primary);
    }
  }

  &::after {
    content: "";
    display: block;
    height: 10vh;
    width: 2px;
    opacity: 0.3;
    background: white;
    margin-left: 8px;
    margin-top: 10px;
  }
}
@include media-breakpoint-up(sm) {
  .social-media-bar {
    display: flex !important;
  }
}

// custom link
.icon-link {
  text-decoration: none;
  color: var(--color-custom-1);
  transition: all 0.3s ease-in-out;
  font-size: 20px;
  &:hover {
    color: var(--color-primary);
  }
}


// pages
// page::home
.page-section-home-canvas-wrapper {
  position: absolute;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100%;
  right: 6%;
  top: 50%;
  transform: translateY(-50%);
  width: 50vw;
  height: 70vh;
}
// page::about
.mypic-wrapper {
  transition: all 0.3s ease-in-out;
  &::before {
    transition: all 0.3s ease-in-out;
    border-radius: 6px;
    position: absolute;
    display: block !important;
    content: '';
    width: 100%;
    height: 100%;
    border: 4px solid $primary;
    top: 0;
    left: 0;
    z-index: -1;
    margin-left: 1.6rem;
    margin-top: 1.6rem;
  }

  &:hover {
    padding-top: 4px;
    padding-left: 4px;
    &::before {
      margin-left: 1.2rem;
      margin-top: 1.2rem;
    }
  }
}
// page::experience
.project-item {
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  .img-muted-hover-active {
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
  }
  .project-item-description {
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    border: 1px solid $primary;
    padding: 10px;
    border-radius: 4px;
    .img-muted-hover-active {
      filter: grayscale(0%);
    }
    .project-item-description.right {
      // transform: translateX(50px);
    }
    .project-item-description.left {
      // transform: translateX(-50px);
      // padding-left: -100px;
    }
  }
}
// page::contact
.page-section-contact {
  padding-bottom: 4rem;
}